@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
  
}


.container{
    width: 100%;
    display:flex;
    position:relative;
}
.container h1{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    text-align: center;
    font-size: 1.5em;
    margin: 50px;
}
.container form{
    display: flex;
}

nav {
    display: flex;
}

nav img {
    height:200px;
    width: auto;
}

header { 

}

header nav { 

}

header nav .logo { 

}

header nav .logo img { 

}

main { 

}

main .container { 

}

main .container #title1 { 

}

main .container form { 

}

main .container form label { 

}

main .container form #pseudo { 

}

main .container form #password { 

}

main .container form input { 

}

main .container h2 { 

}

main .container h2 a { 

}

footer { 

}

footer h3 { 

}

footer p { 

}

footer .fa-brands { 

}