body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: bold;
}

/* Styles pour le header */

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B556D;
    padding: 10px;
  }

  .header__logo {
    margin-right: 10px;
  }

  .header__logo img {
    height: 5rem;
    width: 5rem;
  }

  .header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
    flex-grow: 1; /* Modification */
  }

  .header__connect {
    color: #fff;
    text-decoration: none;
    margin-left: auto; /* Modification */
    margin-right: 10px; /* Modification */
  }

  .header__search-label {
    color: #fff;
    margin-right: 10px;
  }

  .header__search-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 0.2rem;
  }

  .header__search-submit {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  
  
  /* Styles pour le main */
  
  .main__title {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
  }
  
  .main__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
  }
  
  .main__button {
    background-color:#3B556D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .main__subtitle {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
  }
  
  .main__image-text {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .main__image {
    width: 40%;
    margin-right: 20px;
    border-radius: 1em;
    margin: 1rem;
  }
  
  .main__text-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .main__text-paragraph {
    font-size: 18px;
  }
  
  .like {
    margin-left: 350px;
    height: 3rem;
    color: #3B556D;
    width: 100%;
  }

  .fa-thumbs-up {
    color: #3B556D;
    justify-content: right;
  }
  
  /* Styles pour le footer */
  
  #footer {
    height: auto;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,.8));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  
  .logo-container,.info, .letter {
   display: flex;
   justify-content: center;
   margin: 1rem 3rem;
   color: #fff;
   flex: 1 0 25rem;
   flex-flow: column wrap;
  }

  .logo-container {
 text-align: center;
  }
    
  

  /* CSS pour le main de la page de connexion-ANA-*/
  .container{
  width: 100%;
  display:flex;
  position:relative;
}
.container h1{
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  text-align: center;
  font-size: 1.5em;
  margin: 50px;
}
.container form{
  display: flex;
}

/* css Pour la page main de "createstory"- LEYTI-" */

.section-left {

  text-align: left;
  margin: 20px;
}

.section-centrale {

  text-align: center;
  border-left: 1px solid rgb(8, 8, 8);
  margin: 150px;
  width: 300px;
  margin: 20px auto 50px;
  padding: 10px;
  border-radius: 1em;
  box-shadow: rgba(58, 56, 56, 0.747) 0px 1px 4px, #333333 10px 10px 0px 3px;
  border: 1px solid #444444;
  background-color: white;
}

.sec-histoire{

  text-align: center;
  width: 200px;
  margin: 20px auto;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px, #333333 5px 5px 0px 3px;

}


/* CSS pour le main page "gestion favoris" -ELEAZAR-*/
/* Menu deroulant - Pseudo - */

.mainmenubtn {
  background-color: #1C2942;
  color: white;
  border: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
  max-width: 100%;
  font-weight: bold;
}
.mainmenubtn:hover {
  background-color: #5b6463;
  }
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: #5FC2BA;
  min-width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0; /* Ajout de la propriété right */
  background-color: #5FC2BA;
  min-width: 200px;
  max-width: 100%; /* Limite la largeur à la largeur du parent */
  overflow-x: auto;
}
.dropdown-child a {
  color: blue;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

/* CSS pour la page gestion de compte - Simao- */
.edit-container{
  width: 50%;
  height: 100%;
  margin-left: 500px;
  display:inline-flex;
  flex-direction: column-reverse;
  text-align: center;
  align-content: space-between;
  line-height: 50px;
  font-size: larger;
  font-weight: 600;
}

.edit-elements{
  justify-content: center;
}
.edit-button{
align-content: center;

}

/*CSS main page "mes histoires" - EVARISTE-*/
.h1-mes-histoires{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size:x-large;

}

h3 .profil-username{
  text-align: center;
  margin-bottom: 5px;

}
.story, .storydetails {
  display: flex;
}

.story {
  margin-bottom: 10px;
}

.story-img {
  margin-right: 10px;

}
.story-infos{
  line-height: 20px;
}
.story-infos h2{
  text-decoration: underline;
  margin-bottom: 20px;
  font-weight: bold;
 
}

.story-infos h3{
  margin-bottom: 20px;
  font-weight: bold;
 
}
.autor-name{
  font-style: italic;
  margin-bottom: 5px;;
 
}
.container {
  display: flex;
}

/* CSS main page "détail d'une histoire- EVARISTE-*/

.h1-detail-histoire{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom:50px;
}

.storydetail-infos h2{
  text-decoration: underline;
  margin-bottom: 20px;
  font-weight: bold;
 
}
.storydetail-infos h3{
  align-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  
 
}

/* CSS Lecture page connecté-ANA-*/

#title1{
text-align: center;
font-size:xx-large;
font-weight: bold;
margin-top: 25px;
}

.nav-categories{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.menu-categories > a {
justify-content: center;
text-align: center;
font-size: larger;
font-weight: 700;
}
.sous-menu li > a{

justify-content: space-between;
margin-top: 25px;

}
/*Story card css*/

.card {
/* Add shadows to create the "card" effect */
width: 50%;
display: flex;
flex-wrap: nowrap;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
padding: 2px 16px;
}
.container > h4 {
text-align:left;
font-size: large;
font-weight: bold;
line-height: 80px;
}
.container > span {
text-align:left;
font-size: large;
font-weight:700;
line-height: 60px;
}


.container >p{
text-align:left;
line-height: 25px;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
border-radius: 5px 5px 0 0;
}


/* CSS page "reading page non connected" - ANA- */

